<div class="sidebar-wrapper">
  <div
    class="bg-primary p-2 px-3 text-white sidebar-header d-flex justify-content-between align-items-center"
  >
    <a class="navbar-brand active fs-3" href="#">{{ appName }} </a>
    <button class="btn btn-link text-white">
      <i class="fs-2 bi bi-list"></i>
    </button>
  </div>
  <div
    class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary sidebar-content"
  >
    <div dropdown>
      <a
        dropdownToggle
        href="#"
        class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="assets/user.png"
          alt=""
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
        <strong>Ibrahima Sylla</strong>
      </a>
      <ul class="dropdown-menu text-small shadow" *dropdownMenu role="menu">
        <li role="menuitem">
          <a class="dropdown-item" href="#">New project...</a>
        </li>
        <li role="menuitem"><a class="dropdown-item" href="#">Settings</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Profile</a></li>
        <li role="menuitem"><hr class="dropdown-divider" /></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="bi bi-house-door sidebar-item-icon"></i>
          Accueil
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="bi bi-duffle sidebar-item-icon"></i>
          Mes cours
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="bi bi-people sidebar-item-icon"></i>
          Mes élèves
        </a>
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          routerLink="/classes"
          routerLinkActive="active"
        >
          <i class="bi bi-people sidebar-item-icon"></i>
          Classes
        </a>
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          routerLink="/filieres"
          routerLinkActive="active"
        >
          <i class="bi bi-people sidebar-item-icon"></i>
          Filières
        </a>
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          routerLink="/niveaux"
          routerLinkActive="active"
        >
          <i class="bi bi-people sidebar-item-icon"></i>
          Niveaux
        </a>
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          routerLink="/annee_scolaires"
          routerLinkActive="active"
        >
          <i class="bi bi-file-earmark sidebar-item-icon"></i>
          Années scolaires
        </a>
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          routerLink="/professeurs"
          routerLinkActive="active"
        >
          <i class="bi bi-file-earmark sidebar-item-icon"></i>
          Professeurs
        </a>
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          routerLink="/salles"
          routerLinkActive="active"
        >
          <i class="bi bi-file-earmark sidebar-item-icon"></i>
          Salles
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="bi bi-file-earmark sidebar-item-icon"></i>
          Demandes
        </a>
      </li>
    </ul>
  </div>
</div>
