.sidebar-wrapper {
  width: 280px;
  height: 100vh;
  overflow: hidden;
  .sidebar-header {
    height: 67px;
  }
  .sidebar-content {
    height: 100%;
  }
  .sidebar-item-icon {
    display: inline-block;
    font-size: 132%;
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
}
