$primary: #000e9c;
$success: #008686;
$modal-fade-transform: scale(0.9);
$modal-transition: transform 0.1s ease-out;
$modal-content-border-radius: 6px;
$btn-border-radius: 3px;
$input-border-radius: 3px;
