@import "fonts.css";

@import "custom-variables";

@import "bootstrap-icons/font/bootstrap-icons.css";

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

* {
  font-family: "Manrope", "Roboto", sans-serif;
}

body {
  height: 100vh;
  // width: 100vw;
  // zoom: 125%;
}

.disabled {
  cursor: not-allowed;
}
