<form class="row p-3" [formGroup]="form" (submit)="onSubmit()">
  <div class="form-group col-4">
    <label for="prenom">Prénom<span class="text-danger">*</span></label>
    <input
      id="prenom"
      type="text"
      class="form-control"
      formControlName="prenom"
    />
  </div>
  <div class="w-100"></div>
  <div class="form-group col-4">
    <label for="nom">Nom<span class="text-danger">*</span></label>
    <input id="nom" type="text" class="form-control" formControlName="nom" />
  </div>
  <div class="w-100"></div>

  <div class="form-group col-4">
    <label for="specialite">Spécialité<span class="text-danger">*</span></label>
    <input
      id="specialite"
      type="text"
      class="form-control"
      formControlName="specialite"
    />
  </div>
  <div class="w-100"></div>

  <div class="form-group col-4">
    <label for="grade">Grade<span class="text-danger">*</span></label>
    <input
      id="grade"
      type="text"
      class="form-control"
      formControlName="grade"
    />
  </div>
  <div class="w-100"></div>

  <div class="p-3">
    <button class="btn btn-primary p-2" type="submit" [disabled]="!form.valid">
      Créer
    </button>
  </div>
  <div
    *ngIf="unknownError"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
  >
    <strong> Une erreur inconnue est survenue </strong>
  </div>
  <div
    *ngIf="submitOk"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    {{ submitOk ? "Professeur créé avec succès" : "" }}
  </div>
</form>
<app-loading *ngIf="submitPending"></app-loading>
