<div class="overlay" (click)="onExit()"></div>
<nav class="navbar navbar-dark navbar-expand bg-primary p-2">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ms-4 align-items-center">
        <a routerLink="planifier-cours" routerLinkActive="active">
          <button type="button" class="btn fs-5">
            Planifier cours
          </button>
        </a>
        <a routerLink="inscription" routerLinkActive="active">
          <button type="button" class="btn fs-5">
            Inscrire un étudiant
          </button>
        </a>
      </div>
      <div class="navbar-nav ms-4 align-items-end">
        <form class="d-flex" role="search">
          <div class="search-box">
            <div class="input-group mb-3">
              <span
                class="search-btn d-flex align-items-center justify-content-center"
              >
                <i class="bi bi-search icon"></i>
              </span>
              <input
                class="form-control me-2"
                type="search"
                placeholder="Rechercher"
                aria-label="Search"
              />
            </div>
          </div>
          <button type="button" class="btn btn-link" (click)="onSearch()">
            <i class="bi bi-search icon"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>
