i.icon {
  color: white;
  font-size: 132%;
}
.navbar {
  height: 67px;
  form[role="search"] {
    position: relative;
    .search-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
      display: none;
      z-index: 1000;
      .search-btn {
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        background-color: white;
        width: 40px;
        border: none;
        cursor: pointer;
        padding: 16px;
        .icon {
          color: var(--bs-dark);
        }
      }
      input.form-control {
        font-size: large;
        height: 67px;
        border: none;
        box-shadow: none;
      }
    }
  }
  .btn {
    padding: 16px;
    color: var(--bs-light);
    &:hover {
      background-color: white;
      color: var(--bs-dark);
      i {
        color: var(--bs-dark);
      }
    }
  }
}
a.active {
  button {
    color: var(--bs-dark) !important;
    background-color: white;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 14, 156, 0.6);
  display: none;
  z-index: 999;
}
