<form class="row p-3" [formGroup]="form" (submit)="onSubmit()">
  <div class="form-group col-3">
    <label for="annee1">Année 1</label>
    <input
      id="annee1"
      type="text"
      class="form-control"
      formControlName="annee1"
    />
  </div>
  <div class="form-group col-3">
    <label for="annee1">Année 2</label>
    <input
      id="annee2"
      type="text"
      class="form-control"
      value="{{ annee2 }}"
      readonly
    />
  </div>
  <div class="w-100"></div>

  <div class="col-1 p-3">
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
      Créer
    </button>
  </div>
  <div class="text-danger">
    {{ anneeAlreadyExists ? "Cette année existe déjà" : "" }}
  </div>
</form>
