<form class="row p-3" [formGroup]="form" (submit)="onSubmit()">
  <div class="form-group col-3">
    <label for="annee1">Année 1</label>
    <input
      id="annee1"
      type="text"
      class="form-control"
      formControlName="annee1"
    />
  </div>
  <div class="form-group col-3">
    <label for="annee1">Année 2</label>
    <input
      id="annee2"
      type="text"
      class="form-control"
      value="{{ annee2 }}"
      readonly
    />
  </div>
  <div class="w-100"></div>

  <div class="p-3">
    <button class="btn btn-primary p-2" type="submit" [disabled]="!form.valid">
      Créer
    </button>
  </div>
  <div
    *ngIf="anneeAlreadyExists || unknownError"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
  >
    <strong>
      {{
        anneeAlreadyExists
          ? "Cette année existe déjà"
          : unknownError
          ? "Une erreur inconnue est survenue"
          : ""
      }}
    </strong>
  </div>
  <div
    *ngIf="submitOk"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    {{ submitOk ? "Année créée avec succès" : "" }}
  </div>
</form>
<app-loading *ngIf="submitPending"></app-loading>
