<ng-container *ngIf="sessionCours.length">
  <h4 class="p-2">Session de cours</h4>
  <div class="w-75 row">
    <div *ngFor="let c of sessionCours" class="col-4">
      <app-item-card
        [title]="c.salle ? c.salle.nom : 'En ligne'"
        icon="bi bi-back"
        [data]="c.classe.libelle"
        [footData1]="c.professeur.prenom + ' ' + c.professeur.nom"
        [footData2]="''"
        (clickItem)="onSelectSessionCours(c)"
      ></app-item-card>
    </div>
  </div>
  <div class="w-75" *ngIf="etudiants !== null">
    <div class="m-3" *ngIf="selectedSessionCours">
      <div class="alert alert-success" *ngIf="selectedSessionCours.valide">
        Session de cours validé
      </div>

      <button
        *ngIf="!selectedSessionCours.valide"
        (click)="validateSessionCours()"
        class="btn btn-light"
      >
        Valider la session de cours
      </button>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <td scope="col">Prénom</td>
          <td scope="col">Nom</td>
          <td scope="col">Email</td>
          <td scope="col">Présence</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let etudiant of etudiants">
          <td>{{ etudiant.prenom | titlecase }}</td>
          <td>{{ etudiant.nom | titlecase }}</td>
          <td>{{ etudiant.email }}</td>
          <td>
            <div class="d-flex" *ngIf="etudiant.presence !== undefined">
              <input
                type="checkbox"
                class="form-check"
                id="presence"
                (change)="togglePresence($event, etudiant)"
                [checked]="etudiant.presence"
              />
              <label for="presence">Présent</label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
