<div class="p-5 col-8">
  <table class="table table-hover">
    <thead class="table-primary">
      <tr>
        <th scope="col">Libellé</th>
        <th scope="col">Nombre de semestres</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="data">
        <tr *ngFor="let item of data['hydra:member']">
          <td>{{ item.libelle }}</td>
          <td>{{ item.semestres }}</td>
          <td>
            <a [routerLink]="item['@id']" class="text-reset">
              <button class="btn btn-link text-reset">
                <i class="bi bi-eye-fill fs-5"></i>
              </button>
            </a>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
